* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding-top: 75px;
    overflow-x: hidden;
    background-color: #FCF8E8;
}

.mypage {
    font-size: 32px;
}

.menua {
    text-decoration: none;
    color: white;
}

#menu1 {
    padding: 25px
}

.hcon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 75px;
    padding: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #94B49F;
}

span a {
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    z-index: -1;
}


.menu {
    font-size: 75px;
    padding: 50px;
}

.text {
    padding: 30px
}

.text li {
    list-style: none;
    font-size: 50px;
    font-weight: bold;
}

.padabout {
    padding-left: 30px;
}

.lion {
    padding-top: 200px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 150px;
}

.circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 10px
}

.container3 {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 300px;
}

.container3_1 {
    display: flex;
    align-items: center;
    background-color: #CEE5D0;
    width: 50%;
    height: 300px;
    margin-right: 75px;
}

.container3_1 img {
    width: 200px;
    height: 200px;
}

.container3_2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ECB390;
    width: 50%;
    height: 300px;
}

.container3_2 img {
    width: 180px;
    height: 180px;
}

.skilltext {
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-weight: bold;
}

.skilltext2 {
    margin-right: 400px;
}

.liketext {
    font-size: 60px;
}

.liketextul {
    font-size: 32px;
    list-style: none;
    padding-right: 35px;
    font-weight: bold;
}



